<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Jooneli Inc</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/jooneliweb.styles.css" asp-append-version="true" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS (with Popper.js for the carousel) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <header class="mx-auto">
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <!-- Logo Section -->
                <div class="navbar-brand fs-3 logo-margin">
                    <a class="text-dark" asp-area="" asp-controller="Admin" asp-action="Index">
                        <img src="images/joonlogo--JfLTwqW.png" style="height:75px;width:85px" alt="Jooneli" />
                    </a>
                </div>

                <!--  Button -->
                <button class="navbar-toggler d-sm-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menu Items Section -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center flex-grow-1" id="navbarNav">
                    <ul class="navbar-nav flex-row justify-content-center gap-4">
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-3" asp-area="" asp-controller="Admin" asp-action="About">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-3" asp-area="" asp-controller="Admin" asp-action="Business">Business</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-3" asp-area="" asp-controller="Admin" asp-action="Career">Career</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-3" asp-area="" asp-controller="Admin" asp-action="News">News</a>
                        </li>
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark fs-4" asp-area="" asp-controller="Contact" asp-action="Index">Get in Touch</a> *@
                        @* </li> *@
                    </ul>
                </div>

                <!-- Get in Touch Section (Visible only on large screens) -->
                <div class="ms-auto d-none d-sm-block" style="margin-right:120px;">
                    <a class="btn btn-danger text-white" asp-area="" asp-controller="Admin" asp-action="Contact">Messages</a>
                </div>
            </div>
        </nav>
    </header>



    <div class="offcanvas offcanvas-start " style="width:75%;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="images/joonlogo--JfLTwqW.png" style="height:75px;width:85px" alt="Jooneli" />
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
              
                <li class="nav-item">
                    <a class="nav-link text-dark fs-3" asp-area="" asp-controller="Admin" asp-action="Business">Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fs-3" asp-area="" asp-controller="Admin" asp-action="Career">Career</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fs-3" asp-area="" asp-controller="Admin" asp-action="News">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fs-3" asp-area="" asp-controller="Admin" asp-action="Contact">Messages</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
