html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0
}

/*for videos*/
.vido-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
    padding: 0;
    margin: 0;
}

header.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo {
    margin-left: 5px; /* Default margin for mobile */
}

.navbar-toggler {
    margin-right: 5px;
}

.mega-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 2rem 1rem;
    display: none;
    z-index: 1050;
    transition: 1s ease;
}

 .nav-item.position-static:hover .mega-dropdown,
 .mega-dropdown:hover {
        display: block;
 }

 /* kjsfkkl*/
.custom-header {
    transition: background-color 0.3s ease;
}

.navbar-collapse .navbar-nav .my-list .nav-link {
    transition: color 0.2s ease;
}

.touch-custom {
    transition: border-color 0.2s ease, color 0.2s ease;
}
/*djkflka*/


/* Change the text color of .nav-link when hovering over .my-list */
.my-list .nav-link {
    color: white; /* Default text color */
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 376px) {
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .logo {
        margin-left: 8px;
    }

    .navbar-toggler {
        margin-right: 8px;
    }
}
/*
Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .logo {
        margin-left: 10px; /* Slightly larger margin */
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .logo {
        margin-left: 110px;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .logo {
        margin-left: 120px;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .logo {
        margin-left: 120px;
    }
}
